.outer-container{
    padding: 2em;
    display: flex;
    flex: 1;
    flex-direction: column;
}
.palette-item{
    margin: 1em;
}
.user-info{
    max-width: 400px;
}
.info-row{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 3em;
}
mat-divider{
    width: 100%
}
.cards-container{
    display: flex;
    flex-wrap: wrap;
}
.saved-palette-card{
    flex: 1;
    min-width: 200px;
    max-width: none;
    &:not(:last-child){
        margin-right: 10px;
    }
}