.swatch-holder{
    margin-right: 1em;
}
.color-swatch{
    height: 80px;
    width: 160px;
}
.mat-dialog-actions{
    margin-bottom: 0;
    min-height: 0;
}
.mat-form-field{
    display: block;
}
.mixer{
    display: flex;
    margin-bottom: 1em;
}